<% if @agree %>
  <div class="alert alert-info">
    取引が成立しました！
    <%= link_to "取引を行う", negotiate_trades_path(@agree), class: 'alert-link' %>
  </div>
<% end %>
<div class="row grid-space-10 relative">
</div>
<%= render partial: 'lists', collection: @negotiates, as: "object" %>
