<% if @agree %>
  <div class="alert alert-info">
    <p>取引が成立しました！</p>
    <p><%= link_to 'こちらから本の交換を行ってください', negotiate_trade_path(@agree), class: 'alert-link' %></p>
  </div>
<% end %>
<div class="row grid-space-10 relative">
</div>
<%= render partial: 'lists', collection: @negotiates, as: "object" %>
