<ul class="mypage-nav nav nav-tabs" role="tablist">
  <li class="active"><a href="#vtab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-book pr-10"></i> 登録した本</a></li>
  <li class=""><a href="#vtab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-lightbulb-o pr-10"></i> 開始した取引</a></li>
  <li class=""><a href="#vtab3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-check pr-10"></i> ほしいね！をした取引</a></li>
  <li class=""><a href="#vtab4" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-trophy pr-10"></i> 成立した取引</a></li>
  <li class=""><a href="#vtab5" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o pr-10"></i> 取引実績</a></li>
  <li class=""><a href="#vtab6" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-cog pr-10"></i> 設定</a></li>
</ul>
