<div class="col-md-3 col-sm-6">
  <div class="listing-item white-bg bordered mb-20 book-image">
    <div class="overlay-container">
      <%= image_tag(object.image) unless object.image.blank? %>
      <%= image_tag('no-image.png', style: "width: 250px; height: 350px;") if object.image.blank? %>
    </div>
    <div class="book-info">
      <h3><%= object.title.truncate(15) %></h3>
      <small><%= object.author.truncate(15) %></small>
      <hr />
      <div class="elements-list clearfix">
      </div>
    </div>
  </div>
</div>
