<footer id="footer" class="clearfix ">
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="text-center logo-font"><strong>© <%= Time.now.year %> <%= app_title %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
