<header class="header fixed clearfix">
  	<div class="header-left clearfix">
  		<div id="logo" class="logo">
  			<h2 class="page-title text-center logo-font"><%= app_title %></h2>
  		</div>
  	</div>
  	<div class="header-right clearfix">
    	<div class="main-navigation animated">
    		<nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
              <li><%= link_to items_path do %><i class="fa fa-globe fa-2x pr-10"></i><% end %></li>
              <% if user_signed_in? %>
                <li><%= link_to user_path(current_user) do %><i class="fa fa-user-o fa-2x pr-10"></i><% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-sign-out fa-2x pr-10"></i><% end %></li>
              <% end %>
            </ul>
    		</nav>
    	</div>
    </div>
</header>
