body {
  height: 100%;
}

.main-container {
  height: 100%;
  padding-top: 0 !important;
}

.container-fluid {
  // margin-left: 10px !important;
  // margin-right: 10px !important;
}

.page-wrapper {
  height: 100%;
}

.pv-40 {
  min-height: 100%;
}

.pv-20 {
  min-height: 100%;
}

.vertical {
  margin: 0 !important;
  height: 100%;
}

.top-image {
  background-image: image-url("top.jpg");
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .main {
    position: absolute !important;
    top: 100px;
    padding-left: 35px !important;
  }
}

@media screen and (min-width: 767px) {
  .main {
    margin-top: 30px;
  }
}

.mypage-tab {
  height: 1000px;

  .tab-pane {
    width: 1018px;
  }
}

.mypage-nav {
  width: 100%;
}

#new_parent {
  margin: 0;
}

.alert-notice {
  color: #1a4e68;
  background-color: #c6e8fa;
}

.alert-alert {
  color: #a94442;
  background-color: #f2dede
}

.book-list {
  margin-bottom: 5px !important;
}

.social-links {
  text-align: right;
}

.google-plus {

}

.step-warning {
  color: #FF0000;
  font-weight: bold;
}

.step-notice {
  color: #2F4F4F;
  font-weight: bold;
}

.user-info {
  margin-top: 20px;
  margin-left: 10px;
  img {
    display: inline-block;
  }
  span {
    font-weight: bold;
    padding-left: 5px;
  }
}

.password-link {
  padding-top: 10px;
  li {
    list-style: none;
  }
}

.hidden-link {
  visibility: hidden;
}

.book-box {
  display: inline-block;
  width: 220px;
  height: 320px;
  margin-right: 10px;
}

.book-image {
  position: relative;

  .set-top {
    position: absolute;
    top: 0;
  }

  .book-info {
    position: absolute;
    bottom: 0px;
    color: #FFFFFF;
    background: rgba(0,0,0,.6);
    width: 220px;
    text-align: center;

    hr {
      margin: 3px;
    }

    h3 {
      font-size: 16px;
      color: #FFFFFF;
    }

    .book-bottom {
      margin: 10px;
    }
  }
}

.relative {
  position: relative;
}

.align-text {
  position: absolute;
  top: 100px;
}

.cheetah {
  background-color: #FF0000;
}

.raccoon {
  background-color: #008000;
}

.monkey {
  background-color: #ffa500;
}

.koala {
  background-color: #cccccc;
}

.leopard {
  background-color: #FFFFFF;
}

.tiger {
  background-color: #FFFF00;
}

.deer {
  background-color: #FCE2C4;
}

.elephant {
  background-color: #ccffff;
}

.wolf {
  background-color: #800080;
}

.sheep {
  background-color: #FFFFEF;
}

.pegasus {
  background-color: #C0C0C0;
}

.lion {
  background-color: #FFD700;
}

.form-small-font {
  font-size: 13px;
}

.birthday-alert {
  color: #FF0000;
}

.top {
  .alert {
    margin-bottom: 0;
  }
}

.rails-bootstrap-forms-date-select {
  display: inline-block;
  width: 100%;
  .form-control {
    display: inherit;
    width: 20%;
  }
}

.birthday-select {
  margin-bottom: 15px;
  .form-group {
    margin-bottom: 0;
  }
}

.list-group {
  list-style: none !important;
}

.list-group-item {
  color: rgba(0,0,0,0.87) !important;
  font-size: 14px !important;
  margin-bottom: 7px !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: #fafafa !important;
}

.navbar {
  background-color: #fafafa !important;
  padding-left: 30px !important;
  padding-right: 0px !important;
}

.navbar-toggle {
  float: left !important;
}

@media screen and (max-width: 767px) {
  .navbar-offcanvas {
    left: -260px !important;
  }
}


.offcanvas-toggle-background {
  background-color: #fafafa !important;
}

.offcanvas-toggle-bars-color {
  background-color: #000 !important;
}

.navbar-offcanvas.in {
  box-shadow: 0 0 0 !important;
}

.badge {
  // font-size: 16px !important;
  width: 40px;
  height: 40px;
  background-color: rgba(255,0,0,0.9) !important;
  border: 1px solid #808080 !important;
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFFFFF !important;
    line-height: 3.2;
  }
}

.elements-list {
  form {
    margin: 0;
  }
  .alert {
    padding: 8px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 50% !important;
  }
  .alert-success {
    margin: auto;
  }
  .alert-warning {
    margin: auto;
  }
  .alert-danger {
    margin: auto;
  }
  .alert-info {
    margin: auto;
  }
  .small-font {
    font-size: 10px;
  }
}

.overlay-container {
  .bg-warning {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px !important;
    margin-bottom: 5px !important;
    width: 60% !important;
  }
  img {
    width: 220px;
    height: 320px;
  }
}
