<div class="col-md-8 col-md-offset-2">
	<div id="logo" class="logo">
		<h2 class="text-center logo-font"><strong>How to Use</strong></h2>
	</div>
	<div class="separator"></div>
	<p class="large text-center">旅本を利用することで簡単に本の取引ができます。</p>
</div>
<div class="col-md-4 ">
	<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
		<span class="icon default-bg circle"><i class="fa fa-book"></i></span>
		<h3>本の登録</h3>
		<div class="separator clearfix"></div>
		<p>取引に出したい本の登録をおこないます。</p>
		<br />
	</div>
</div>
<div class="col-md-4 ">
	<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
		<span class="icon default-bg circle"><i class="fa fa-user-secret"></i></span>
		<h3>取引開始</h3>
		<div class="separator clearfix"></div>
		<p>あなたが取引を開始するか、もしくはあなたの本で誰かの開始した取引と交渉をおこないます。</p>
	</div>
</div>
<div class="col-md-4 ">
	<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
		<span class="icon default-bg circle"><i class="fa fa-handshake-o"></i></span>
		<h3>取引成立</h3>
		<div class="separator clearfix"></div>
		<p>取引が成立した場合、本の交換をおこないます。</p>
		<br />
	</div>
</div>
