<div class="container pv-40">
	<div class="row">
		<div class="col-md-8 text-center col-md-offset-2 pv-40">
			<div class="object-non-visible pv-40 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
				<h1 class="page-title text-center logo-font">Re.Book</h1>
				<div class="separator"></div>
				<h3 class="text-center"><em>読み終わった本を交換しよう</em></h3>
			</div>
		</div>
	</div>
</div>
