<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="logo" class="logo">
			<h1 class="text-center logo-font"><strong><%= app_title %></strong></h1>
		</div>
		<p class="large text-center logo-font">読み終わった本を交換しよう</p>
		<hr>
	</div>
	<%= render 'shared/new_account' %>
</div>
