<% case object.status %>
<% when 1 %>
  <div class="alert alert-warning">
    交渉がありません
  </div>
<% when 2 %>
  <div class="alert alert-success">
    交渉中です
  </div>
<% when 8 %>
  <div class="alert alert-info small-font">
    取引が終了しました
  </div>
<% end %>
