<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
  <h1 class="page-title"><%= new_or_edit %></h1>
  <div class="separator-2"></div>
  <%= render 'form', user: current_user, address: address, prefectures: Prefecture.all %>
</div>
