<% content_for :modal do %>
  <% user = item.user %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">このユーザのほしいものリスト</h4>
        </div>
        <div class="modal-body">
          <% if user.wish_lists.any? %>
            <% user.wish_lists.each do |wish_list| %>
              <div class="wish-list-info">
                <% if wish_list.image.blank? %>
                  <%= image_tag('no-image.png') %>
                <% else %>
                  <%= image_tag(wish_list.image) %>
                <% end %>
                <span><%= wish_list.title %></span>
                <span><%= wish_list.author %></span>
              </div>
            <% end %>
          <% else %>
            <div class="alert alert-warning text-center">このユーザはほしいものリストを登録していません</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
