<p><%= @email %>さん</p>
<p class="logo-font">Re.Bookへのご登録ありがとうございます。</p>
<p>下記のリンクをクリックしていただくと、アカウント登録が正式に完了します。</p>

<p><%= link_to 'アカウント登録',
        controller: 'users/confirmations',
        action: 'create',
        confirmation_token: @token %></p>
