<p>ようこそ <%= @email %>さん！</p>

<p>下記のリンクをクリックするとアカウント登録が完了します。</p>

<p><%= link_to 'アカウント登録',
        controller: 'devise/confirmations',
        action: 'create',
        confirmation_token: @token %></p>
