<p>メールアドレス変更のリクエストをお受けいたしました。</p>
<p>下記のURLをクリックすると、メールアドレスの変更が正式に完了します。</p>
<p><%= link_to 'メールアドレス変更',
        controller: 'users/confirmations',
        action: 'create',
        confirmation_token: @token %></p>
