<p>パスワードの再設定について</p>

<p>下記のリンクをクリックしていただくと、パスワードの再設定を行うことができます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールにお心あたりがない場合は、お手数ですがこのメールを破棄くださいますようお願い致します。</p>
