<ul class="nav nav-pills">
  <li class="active"><a href="#pill-pr-1" data-toggle="tab">Step 1：取引成立確認</a></li>
  <li><a href="#pill-pr-2" data-toggle="tab">Step 2：住所連絡</a></li>
  <li><a href="#pill-pr-3" data-toggle="tab">Step 3：配送連絡</a></li>
  <li><a href="#pill-pr-4" data-toggle="tab">Step 4：受け取り連絡</a></li>
  <li><a href="#pill-pr-5" data-toggle="tab">取引終了</a></li>
</ul>
