  <div class="progress style-1">
		<span class="text"></span>
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= progress_bar(@object.status, @other.status) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_bar(@object.status, @other.status) %>%">
			<span class="label"><%= trade_progress(@object.status, @other.status) %></span>
			<span class="sr-only">40% Complete - Success</span>
		</div>
	</div>
