<p class="bg-info p-20">相手方にお届け先をお知らせします。</p>
<% if current_user.addresses.any? %>
  <p>以下からあなたが利用するお届け先を選択してください。</p>
  <%= render 'books/update', object: @object, num: 5 %>
<% else %>
  <div class="alert alert-icon alert-danger" role="alert">
    <i class="fa fa-warning"></i>
    住所が登録されていません
    <br>
    <%= link_to '住所を登録する', new_user_address_path(current_user), class: 'alert-link' %>
  </div>
<% end %>
