<p class="bg-info p-20">相手方に本を配送してください。</p>
<div class="alert alert-icon alert-success" role="alert">
	<i class="fa fa-check"></i>
  <h5>本のお届け先</h5>
	<hr>
  <%= render 'display_address', address: @other.address %>
</div>
<p>配送手続きが完了したら、以下のボタンを押してください</p>
<%= render 'update', object: @object, num: 6 %>
