<div class="main col-md-12">
  <div class="process">
    <%= render 'nav' %>
		<div class="tab-content clear-style">
      <% (3..7).each do |n| %>
        <% style = "active" if n == 3 %>
  			<div class="tab-pane <%= style %>" id="pill-pr-<%= n-2 %>">
          <%= render 'step', parent: @negotiate.parent, child: @negotiate.child, num: n %>
  			</div>
      <% end %>
    </div>
	</div>
</div>
